= simple_form_for([@post, @post.comments.build]) do |f|
  .form-group
    = f.input :content, class: "form-control", placeholder:"Write a comment...", label: false
  = f.button :submit, class: "btn btn-default comment_button"
