/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

*{
  font-family: 'Open Sans', sans-serif;
}

 a, a:hover{
   text-decoration: none;
}

.navbar-default, .alert{
  margin:0;
}

.container{
  .row{
    .welcome{
      text-align: center;
      padding-bottom: 1em;
      h2{
        font-weight: 700;
      }
      h3{
        font-weight: 300;
      }
    }
    .article{
      padding:2em;
      img{
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
    }
  }

  .post_row{
    .main_post_content{
      img{
        padding: 3em 0;
        width:100%;
      }
    }
    .posts_panel{
      h2{
        padding-bottom: 1em;
      }
      img{
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
      .first_extra_post,.second_extra_post,.third_extra_post{
        padding: 0 0 2em 0;
      }
    }
    .post_description{
      p{
        padding-bottom: 2em;
        text-align: justify;
      }
    }
    .voting_statistics{
      p{
        display: inline;
        padding-right: 1em;
      }
    }
  }
}
